/* Global Styles */

@font-face {
    font-family: ProximaNova;
    src: url("../assets/fonts/proximanova-light.ttf");
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5fa;
    font-family: ProximaNova;
}

.top-row {
    height: 61px;
}

.first-wrapper {
    height: 100%;
}

.col-1 {
    width: 25%;
    position: relative;
    float: left;
    background-color: #2f323a;

    display: block;
    overflow: auto;
}
.col-2 {
    width: 75%;
    position: relative;
    float: left;

    display: block;
    overflow: auto;
}

.first-wrapper .col-1, .first-wrapper .col-2 {
    height: 100%;
}

.col-2 .top-row {
    background-color: #2f323a;
}

.col-1 .top-row {
    background-color: #1e2025;
    text-align: center;
}

.col-1 .top-row img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bottom-row {
    padding-top: 20px;
    padding-right: 24px;
    padding-left: 24px;
}

.text-navigate {
    color: #575a5f;
    font-size: 16px;
}

.line {
    width: 100%;
    height: 0;
    border: solid 2px #373b42;
}

.menu {
    list-style: none;
    padding-left: 0;
}

.menu a {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: none;
}

.menu li {
    padding-left: 24px;
    padding-top: 14px;
    padding-bottom: 16px;
}

.menu li:hover {
    background-color: #1e2025;
}

.menu img  {
    margin-right: 15px;
}

.main {
    padding: 50px;
}






.rojo {
    background-color: red;
}
.amarillo {
    background-color: yellow;
}
.verde {
    background-color: green;
}